@{
    ViewData["Title"] = "Админ-панель";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в админ-панель</h1>
    <p>Используйте меню выше для навигации</p>
</div>