@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary mt-3">Перейти в админ-панель</a>
</div>